---
layout: default
---
<article class="page-wrap">
  {% if page.title and page.permalink != '/' %}
    <header class="page-header">
      <h1>{{ page.title | capitalize }}</h1>
      {% if page.description %}<p class="page-description">{{ page.description }}</p>{% endif %}
    </header>
  {% endif %}
  <div class="page-content">
    {{ content }}
  </div>
</article>
